* {
    margin: 0;
}
.flexbox { 
    display: flex;
    flex-direction: column;
    border: 1px dashed red;
    width: auto;
    height: 500vh;
}

.item {
    /* flex-basis: 1000px; */
border: 1px solid;
font-size: 25px;
/* background: gray; */
/* flex: 1; */
/* width: 550px; */
}

.item:nth-child(2) {
    /* flex-shrink: 0; */
    flex-grow: 1;
    border: 10px solid yellow;
}